@charset"UTF-8";
h1#dai{
position:relative;
font-size:40px;
margin-top:30px;
margin-left:60px;
font-weight:bold;
font-family:'SimHei';
color:black;
}
p.main{
position:relative;
font-size:15px;
font-weight:bold;
color:black;
margin-top:30px;
margin-left:20px;
}
p.main1{
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}

p.main2{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main3{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main4{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main5{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main6{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main7{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main8{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main9{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main10{
margin-top:30px;
margin-left:170px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main11{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main12{
margin-top:30px;
margin-left:130px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main13{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main14{
margin-top:30px;
margin-left:70px;
font-size:15px;
font-weight:bold;
color:black;
}
p.jikkou{
margin-top:30px;
margin-left:10px;
font-size:15px;
font-weight:bold;
color:black;
}
p.main15{
margin-top:30px;
margin-left:20px;
font-size:15px;
font-weight:bold;
color:black;
}

#step15{
margin-left:120px;
}

h1#method1{
font-size:25px;
margin-top:30px;
margin-left:150px;
font-weight:bold;
font-family:'SimHei';
color:black;
}

h1#method2{
font-size:25px;
margin-top:30px;
margin-left:150px;
font-weight:bold;
font-family:'SimHei';
color:black;
}
h1#method3{
font-size:25px;
margin-top:30px;
margin-left:150px;
font-weight:bold;
font-family:'SimHei';
color:black;
}
h1#method4{
font-size:25px;
margin-top:30px;
margin-left:150px;
font-weight:bold;
font-family:'SimHei';
color:black;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
h1#dai{
position:relative;
font-size:18px;
margin-top:30px;
margin-left:10px;
font-weight:bold;
font-family:'SimHei';
color:black;
}
h1#method1{
font-size:18px;
margin-top:30px;
margin-left:15px;
font-weight:bold;
font-family:'SimHei';
color:black;
}
h1#method2{
font-size:18px;
margin-left:15px;
}
h1#method3{
font-size:18px;
margin-left:15px;
}
h1#method4{
font-size:18px;
margin-left:15px;
}

p.main1{
margin-left:10px;
}
p.main2{
margin-left:10px;
}
p.main3{
margin-left:10px;
}
p.main4{
margin-left:10px;
}
p.main5{
margin-left:10px;
}
p.main6{
margin-left:10px;
}
p.main7{
margin-left:20px;
}
p.main8{
margin-left:20px;
}
p.main9{
margin-left:20px;
}
p.main10{
margin-left:30px;
}
p.main11{
margin-left:30px;
}
p.main12{
margin-left:30px;
}
p.main13{
margin-left:30px;
}
p.main14{
margin-left:30px;
}
p.jikkou{
margin-left:30px;
}
#step15{
margin-left:0px;
}
