@charset'utf-8';
#diary{
margin-top:60px;
}
#diary2{
margin-top:-87px;
margin-left:280px;
}

h1.daytitle{
font-size:25px;
color:black;
}
h1.h1{
font-size:20px;
color:black;
}
input#heavy{
width:30%;
}
h1#jikkou{
font-size:20px;
color:black;
}
select#jiki{
margin-top:-15px;
margin-left:100px;
width:50%;
}
.ok{
margin-left:120px;
}
.no{
margin-top:-50px;
margin-left:380px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
h1.daytitle{
font-size:25px;
font-weight:bold;
color:black;
}
#diary1{
margin-top:-40px;
}
#diary2{
margin-top:-60px;
}
h1.h1{
font-size:23px;
color:black;
}
h1#jikkou{
margin-top:90px;
margin-left:-270px;
font-size:17px;
}
select#jiki{
margin-left:-270px;
width:200px;
}
button.ok{
margin-top:1px;
margin-left:10px;
width:90%;
background-color:green;
}
button.no{
margin-top:1px;
margin-left:10px;
width:90%;
background-color:red;
}
}
