@media screen and (min-width:768px) and ( max-width:1300px) {
#soudai{
margin-left:70px;
}
.hensyu{
margin-top:-50px;
margin-left:70px;
color:black;
font-family:'SimHei';
font-weight:bold;
}
p.ages{
margin-top:-50px;
margin-left:430px;
}
input.age{
margin-left:350px;
width:10%;
}
h5.toshi{
font-family:'SimHei';
font-weight:bold;
color:black;
margin-top:-10px;
margin-left:350px;
}

input.heavy{
  position:relative;
 /* margin-top:150px;*/
  width:10%;
}
select.sexual{ 
  display:inline-block;
　margin-left:150px;
  margin-top:-100px;
  width:15%;
  z-index:1
}

h3.seibetu{
margin-top:-10px;
margin-left:10px;
color:black;
font-family:'SimHei';
font-weight:bold;
font-size:20px;
}


h2.hv{
margin-top:-100px;
font-family:'SimHei';
font-weight:bold;
color:black;
font-size:20px;
}
input.tall{
  margin-left:350px;
  margin-top:-19px;
  width:15%;
}
h4.sintyo{
  font-family:'SimHei';
  font-weight:bold;
  color:black;
  font-size:20px;
  margin-left:345px;
  margin-top:-96px;
}
p.sintyo1{
font-family:'SimHei';
font-weight:bold;
color:black;
position:relative;
margin-top:-50px;
margin-left:460px;
}
.homechange{
margin-left:150px;
}
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
.hensyu{
margin-top:-50px;
margin-left:97px;
color:black;
font-family:'SimHei';
font-weight:bold;
}
input.age{
  width:30%;
}
h3.seibetu{
color:black;
font-family:'SimHei';
font-weight:bold;
font-size:20px;
}
h2.hv{
font-family:'SimHei';
font-weight:bold;
color:black;
font-size:20px;
}

}

/*
h3.seibetu{
margin-top:-95px;
margin-left:90px;
color:black;
font-family:'SimHei';
font-weight:bold;
font-size:20px;
}


h2.heavy{
font-family:'SimHei';
font-weight:bold;
color:black;
font-size:20px;
}
*/
