@charset"UTF-8";
/*p.test{
	画面の大きさを広げるCSS
	margin-top:800px;
}*/
h1{
	font-size:20px;
	font-weight:bold;
	margin-bottom: 2em;
}
h2{
	font-size:17px;
	font-weight:bold;
	margin-bottom: 10px;
}
.data-cont {
    margin-bottom: 100px;
}
.data{
	display: flex;
    justify-content: center;
    border-bottom: 1px solid #999;
    padding: 15px 0;
}
.data-img {
    text-align: center;
}
p.datetoday{
	margin-top:10px;
	margin-left:30px;
	font-size:30px;
	font-weight:bold;
}

.cal-data ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cal-data li {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
}
.cal-data img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.cal-data p{
	font-size: 16px;
	font-weight: bold;
}
/*p.boxtest{
	margin-top:250px;
}*/

#homeform{
	text-align: center;
}
#homeform .change {
    position: relative;
    margin: 0;
}
p.kisosetu{
	font-weight:bold;
	font-size: 15px;
	padding: 15px;
}

@media screen and (min-width:768px) and ( max-width:2000px) {
	
	h1{
		  position: relative;
		  width:350px;
	          padding: 20px;
                  background-color: #ffecb3;
	          border-radius: 10px;
	          box-shadow: 6px 6px 0px 0px #ffcc80;/*影*/
	          margin-bottom: 2em;
          }


		      h1::after{
			        content: '';
			         position: absolute;
				 display: block;
		                 width: 0;
		                 height: 0;
			         left: 20px;
			         bottom: -15px;
			         border-top: 15px solid #ffecb3;
			         border-right: 15px solid transparent;
			         border-left: 15px solid transparent;
			      }

			  h1::before{
				       content: '';
				       position: absolute;
				       display: block;
				       width: 0;
				       height: 0;
			               left: 27px;
			               bottom: -18px;
				       border-top: 15px solid #ffcc80;
				       border-right: 15px solid transparent;
			               border-left: 15px solid transparent;
	          		     }

				     p.mei{
					      font-size:14px;
					      font-weight:bold;
					      text-align: center;
				      }
				    img.gazou{
					    width: 200px;
		  			    height:200px;
				    }
				      .hutoi{
					    font-weight: bold;
		 		      }
				    #moji{
					    margin-right: 50px;
				    }
					#dell{
						text-align: center;
    					margin-top: 50px;
					
					}
			} 

		  @media only screen and (min-width: 320px) and (max-width: 768px) {
				  h1{
				       font-size: 15px;
					    position: relative;
					    max-width: 260px;
					    padding: 15px;
					    background-color: #ffecb3;
					    border-radius: 10px;
					    box-shadow: 6px 6px 0px 0px #ffcc80;
					    margin-bottom: 2em;
			          }


			      h1::after{
					    content: '';
		   			    position: absolute;
					    display: block;
		          		    width: 0;
				            height: 0;
					    left: 20px;
					    bottom: -15px;
					    border-top: 15px solid #ffecb3;
				            border-right: 15px solid transparent;
					    border-left: 15px solid transparent;
					  }

					h1::before{
						   content: '';
					           position: absolute;
					           display: block;
				         	   width: 0;
					           height: 0;
					           left: 27px;
					           bottom: -18px;
					       	   border-top: 15px solid #ffcc80;
					           border-right: 15px solid transparent;
					           border-left: 15px solid transparent;							
					   }
					.data{
						flex-direction: column;
					}

					#moji{
					        order: 1;
					        margin-top: 10px;
					}
					  p.mei{
					        font-size:14px;
				            font-weight:bold;
	                    }
					   p.datetoday{
					        font-size: 20px;
					        margin-left: 0;
    						font-weight: bold;
    						text-align: center;
					   }
				      #dell{
					      text-align: center;
					      margin-top: 20px;
				      }
				      p.kisosetu{
					      font-size:13px;
					      font-weight:bold;
				      }
				      button.change{
					      margin-top:310px;
				              margin-left:30px;
				      }
				      #homeform .change{
				      	width: 90%;
    					text-align: center;
    					padding: 1em 0;
				     }
				     .cal-data ul{
				     	    flex-direction: column;
				     }
		      }

