@charset'utf-8';

h1.plan1{
font-size:17px;
margin-top:30px;
margin-left:25px;
font-weight:bold;
color:black;
}
h1.plan2{
font-size:17px;
margin-top:-60px;
margin-left:385px;
font-weight:bold;
color:black;
}

input#hev{
position:absolute;	
margin-left:400px;
margin-top:-50px;
width:20%;
}
p.hevkg{
position:absolute;
margin-left:540px;
margin-top:-45px;
}

select.period{
　margin-left:-180px;
  margin-top:100px;
  width:30%;
}
#button{
margin-top:30px;
margin-left:280px;
}
#ank{
margin-top:-80px;
margin-left:20px;
}
p.error{
margin-left:-60px;
font-weight:bold;
color:red;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {

#ank{
margin-top:-50px;
margin-left:70px;
}
select.period{
  width:80%;
}
#button{
margin-top:30px;
margin-left:90px;
}

}
