p.no{
font-size:14px;
font-weight:bold;
color:black;
}

p.yes{
margin-top:-90px;
margin-left:410px;
font-size:14px;
font-weight:bold;
color:black;
}
p.suisyo{
margin-top:-20px;
margin-left:430px;
font-weight:bold;
font-size:13px;
color:red;
}
img.gazou1{
width:200px;
height:200px;
}

img.gazou2{
margin-left:180px;
width:200px;
height:200px;
}
button.sindan1{
margin-top:-50px;
margin-left:420px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
p.no{
font-size:12px;
font-weight:bold;
color:black;
margin-left:20px;
}
img.gazou1{
margin-top:-50px;
margin-left:30px;
width:200px;
height:200px;
}
button.sindan{
margin-top:-300px;
margin-left:50px;
margin-left:
}
p.yes{
position:absolute;
margin-top:250px;
margin-left:20px;
}
p.suisyo{
position:absolute;
margin-top:290px;
margin-left:40px;
}
img.gazou2{
margin-top:150px;
margin-left:50px;
width:200px;
height:200px;
}
button.sindan1{
margin-top:-20px;
margin-left:60px;
}
p.test{
margin-top:100px;
}
}
