@charset'utf-8';
h1.title{
font-size:20px;
margin-left:20px;
font-weight:bold;
color:black;
}

p.text{
font-weight:bold;
color:black
}


h1#plan1{
font-size:17px;
margin-top:30px;
margin-left:25px;
font-weight:bold;
color:black;
}
h1#plan2{
font-size:17px;
margin-top:-60px;
margin-left:385px;
font-weight:bold;
color:black;
}

input#hev{
position:absolute;	
margin-left:400px;
margin-top:-50px;
width:20%;
}
p.hevkg{
position:absolute;
margin-left:540px;
margin-top:-45px;
}

select.period{
　margin-left:-180px;
  margin-top:100px;
  width:30%;
}
#button{
margin-top:30px;
margin-left:280px;
}
#ank{
margin-top:-80px;
margin-left:20px;
}
p#cauntion{
font-weight:bold;
color:red;
margin-left:-180px;
}
button.stop{
margin-left:250px;
background-color:red;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
#period{
margin-top:100px;
}
#ank{
margin-top:-230px;
margin-left:70px;
}
input#hev{
margin-left:70px;
margin-top:70px;
}
p.hevkg{
margin-left:140px;
margin-top:75px;
}
h1#plan1{
font-size:13px;
}
h1#plan2{
font-size:13px;
margin-top:100px;
margin-left:35px;
}
select.period{
  width:80%;
}


p#cauntion{
font-size:15px;
font-weight:bold;
color:red;
margin-left:-70px;
}

#button{
margin-top:170px;
margin-left:90px;
}
button.stop{
background-color:red;
margin-left:62px;
}

}
