@charset'UTF-8';
h1.title{
font-size:20px;
margin-left:80px;
font-weight:bold;
color:black;
}
p.sub{
font-size:15px;
font-weight:bold;
color:#211f1f;
}
p.text{
font-weight:bold;
color:black
}
p.plan{
font-weight:bold;
color:blue;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
p.sub{
font-size:12px;
font-weight:bold;
color:#211f1f;
}


h1.title{
font-size:20px;
margin-left:0px;
font-weight:bold;
color:black;
}
}
